<div class="container">
    <h2>Student List</h2>
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Email</th>
          <!-- Add other table headers as needed -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of students">
          <td routerLink="/students/edit/{{student.id}}" >{{ student.id }}</td>
          <td>{{ student.name }}</td>
          <td>{{ student.email }}</td>
          <td ><button routerLink="/students/edit/{{student.id}}"> Edit </button></td>
          <td > <button class="delete-button" (click)="deleteStudent(student.id)">Delete</button></td>
          <!-- Add other table data as needed -->
        </tr>
      </tbody>
    </table>
  </div>
  
<button routerLink="/students/create" class="btn btn-primary">Add Student</button>
<!-- Add edit links for each student as needed -->
